@CHARSET "UTF-8";

html{
	overflow-x:scroll;
overflow-y:scroll;
	
}

body {
background:  url('../img/bg.png')repeat;	
font: 12px Signika;
color: #504e4b;

zoom:90%;
}
img {
margin: 0;
padding: 0px;
}

.sport img{
	
	position: relative;
	width: 100%;

	
	
}

/*header*/

header {
width: 940px;
height: 110px;
position: fixed;
top: -160px;
left: 50%;
margin-left: -470px;
background: transparent url('../img/sprite_interface.png') no-repeat 0 0px;
z-index: 1000;
display: block;
}
header nav {
display: block;
padding: 20px 0px 0 50px;
}
ul{
	
	list-style: none;
}
nav ul {
margin: 0;
padding: 0;

}

nav li {
float: left;
list-style: none;

}
nav li:last-child {
border-right: none;
}
header nav b{
	font-weight: normal;
margin-left:20px;
	
}

header nav .menu0 {
background-position: -33px -126px;
border-right: 1px dotted;



}

header nav .menu0:HOVER {
background-position: -253px -127px;
}

header nav .menu1 {
background-position: -34px -223px;
border-right: 1px dotted;

}
header nav .menu1:HOVER {
background-position: -254px -224px;
}


header nav .menu2 {
background-position: -27px -325px;
border-right: 1px dotted;
}
header nav .menu2:HOVER {
background-position: -247px -326px;
}

header nav .menu3 {
background-position: -26px -427px;
border-right: 1px dotted;
}
header nav .menu3:HOVER {
background-position: -246px -428px;
}

header nav .menu4 {
background-position: -27px -524px;
border-right: 1px dotted;
}

header nav .menu4:HOVER {
background-position: -247px -525px;
}

header nav .menu5 {
background-position: -34px -624px;
}

header nav .menu5:HOVER {
background-position: -254px -625px;
}
a{
	margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}


header nav a {
display: block;
text-decoration: none;

line-height: 20px;
font-weight: bold;
text-align: center;
font: 14px/normal 'bebas_neueregular';
color: #333230;
padding: 18px 20px;
background: transparent url('../img/sprite_interface.png') no-repeat;
margin: 15px 10px;
}





/*circle img*/


.circular {
	
	position: absolute;
top: 56%;
left: 44%;
	width: 250px;
	height: 250px;
	
	z-index: 10;
background-color:#1687A7;
  border-radius: 50%;

}
.cir-img{
	position:relative;
	
}
.circularimg{
	position:absolute;
	left: 15px;
top: 10px;
	
}

.circularimg img{
	
	width: 230px;
}


/*circular1 img */


.circular1 {
	
	position: absolute;
top: 25%;
left: 83%;
width: 200px;
height: 200px;
	
	z-index: 10;
background-color:#F89633;
  border-radius: 50%;

}
.cir-img1{
	position:relative;
	
}
.circularimg1{
	position:absolute;
	left: 9px;
top: 15px;
	
}

.circularimg1 img{
	
	width: 170px;
}



/*circular2 img */


.circular2 {
	
	position: absolute;
top: 35%;
left: 60%;
width: 375px;
height: 375px;
	
	z-index: 10;
background-color:#1687A7;
  border-radius: 50%;

}
.cir-img2{
	position:relative;
	
}
.circularimg2{
	position:absolute;
	left: 5px;
top: 20px;
	
}

.circularimg2 img{
	
	width: 340px;
}

/*circular3 img */


.circular3 {
	
	position: absolute;
top: 35%;
left: 15%;
width: 340px;
height: 340px;
	
	z-index: 10;
background-color:#F89633;
  border-radius: 50%;

}
.cir-img3{
	position:relative;
	
}
.circularimg3{
	position:absolute;
	left: 12px;
top: 24px;
	
}

.circularimg3 img{
	
	width: 340px;
}

/* second content */



.infrastructure img{
	position: relative;
	width: 100%;
		
}



/*third content*/

.advertisement{
	position: relative;
	width: 960px;
margin: 0 auto;
}
.adm-open
{
	margin-bottom: -10px;
background: #1687A7;
width: 480px;
}

.adm-open h3{
	margin-left:10px;
color: #DEDBD4;
}
.adm-open h1{
	margin-left:10px;
color: white;
}
.adv-open{
	color:white;
background: #35393C;
width: 480px;

}
.adv-open p{
	font-size: 18px;
padding: 26px 12px;
}


.adv-open img{
padding: 10px 10px;
}

.ad-mision{
	
	float: left;
}

.rank{
	float:left;
	width:480px;
	margin-top: 86px;
	background: black;
	color:white;
}

.rank img{
	float: left;
	width: 100px;
}
.rank ul{
	
	margin: 0px;
padding: 0px;
}
.rank ul li{
	
	float: left;
}

.rank p{
	font-size: 17px;
	float: left;
padding:0px  15px ;
}
.rank b{
	color: #FA9800;
}
/*icon*/


.icon-ad1{
	
	position: absolute;
	top: -40px;
right: 100px;
	
}

.icon-ad1 img{
	width: 80px;
}
.icon-ad2{
	
	position: absolute;
	top: 10px;
right: -130px;
	
}

.icon-ad2 img{
	width: 90px;
}


.icon-ad3{
	
	position: absolute;
	top: 133px;
right: -190px;
	
}

.icon-ad3 img{
	width: 100px;
}


.icon-ad4{
	
	position: absolute;
	top: 287px;
right: -149px;
	
}

.icon-ad4 img{
	width: 85px;
}





.icon-ad5{
	
	position: absolute;
	top: 10px;
left: -130px;
	
}

.icon-ad5 img{
	width: 80px;
}



.icon-ad6{
	
	position: absolute;
	top: 133px;
left: -190px;
	
}

.icon-ad6 img{
	width: 100px;
}



.icon-ad7{
	
	position: absolute;
	top: 287px;
left: -149px;
	
}

.icon-ad7 img{
	width: 100px;
}

.entertainment img{
	
	position: relative;
width: 100%;
top: 120px;
}
.ent-bg{
	
	position: relative;
	width: 960px;
	height: 200px;
	margin: 0 auto;
	background: #1687A7;
	border: 1px solid black !important;
	bottom: 35%;
	
}
.ent-bg ul li{
	margin-left: 45px;
	margin-top: 12px;
width: 250px;
float: left;
	
}

.bt-foot img{
	
	
	position: relative;
width: 100%;
}

/*footer*/

.bot-footer{
	
	background: #2A2B2F;
	color:white;
}

.col{
	
	display: inline-block;
width: 100%;

margin: 0;
text-align: left;
}

#footer {
padding: 20px 0;
}

#footer{
position: relative;
margin: 0 auto 0;
display: block;
width: 1200px;
}


#footer .footbox {
display: block;
float: left;
width: 550px;
margin: 0 15px 25px 0;
padding: 0;
}
#footer .footbox h1{
	
	border-bottom: 1px solid;
width: 130px;
}
#footer .footbox b{
	font-size: 17px;
	
}

#footer .footbox ul{
	
	margin: 0;
padding: 0;
}
#footer .footbox ul li{
	
	float: left;
border-right: 3px solid;
font-size: 14px;
padding: 10px;
}

#footer .footbox ul li:last-child {
border-right: none;
}

#footer .footbox1 {
	
	text-align: center;
display: block;
float: right;
width: 550px;
margin: 0 15px 0 0;
padding: 0;
}
#footer .last {
margin: 0;

}



#footer .footbox1 img{
	
	width: 50px;
}
#footer .footbox1 h2{
	
	margin-top: 0px;
}


#footer .footbox1 ul li{
	float: left;
	padding: 0px 40px;
}


/*copywright*/


.bot-footer1{
	
	background: #0F1012;
	color:white;
}

.col1{
	float:left;
	display: block;
width: 100%;
margin: 0;
text-align: left;
}


#copyright {
padding: 15px 0;
}

#copyright p {
margin: 0;
padding: 0;
}
.fl_left {
float: left;
}

.fl_right {
float: right;
}

br.clear {
clear: both;
margin-top: -15px;
}
.clear {
clear: both;
}

