@CHARSET "UTF-8";

html{
	
	
}

body {
	
font: 12px Signika;
color: #504e4b;
overflow-x:scroll;
overflow-y:scroll;
zoom:90%;
}

.sport{
	
	position: relative;
	width: 100%;
height: 100%;
	background:  url('../img/bg1.png')no-repeat;
	
}

/*header*/

header {
width: 940px;
height: 110px;
position: fixed;
top: -160px;
left: 50%;
margin-left: -470px;
background: transparent url('../img/sprite_interface.png') no-repeat 0 0px;
z-index: 1000;
display: block;
}
header nav {
display: block;
padding: 20px 0px 0 50px;
}
ul{
	
	list-style: none;
}
nav ul {
margin: 0;
padding: 0;

}

nav li {
float: left;
list-style: none;

}
nav li:last-child {
border-right: none;
}
header nav b{
	font-weight: normal;
margin-left:20px;
	
}

header nav .menu0 {
background-position: -33px -126px;
border-right: 1px dotted;



}

header nav .menu0:HOVER {
background-position: -253px -127px;
}

header nav .menu1 {
background-position: -34px -223px;
border-right: 1px dotted;

}
header nav .menu1:HOVER {
background-position: -254px -224px;
}


header nav .menu2 {
background-position: -27px -325px;
border-right: 1px dotted;
}
header nav .menu2:HOVER {
background-position: -247px -326px;
}

header nav .menu3 {
background-position: -26px -427px;
border-right: 1px dotted;
}
header nav .menu3:HOVER {
background-position: -246px -428px;
}

header nav .menu4 {
background-position: -27px -524px;
border-right: 1px dotted;
}

header nav .menu4:HOVER {
background-position: -247px -525px;
}

header nav .menu5 {
background-position: -34px -624px;
}

header nav .menu5:HOVER {
background-position: -254px -625px;
}
a{
	margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}


header nav a {
display: block;
text-decoration: none;

line-height: 20px;
font-weight: bold;
text-align: center;
font: 14px/normal 'bebas_neueregular';
color: #333230;
padding: 18px 20px;
background: transparent url('../img/sprite_interface.png') no-repeat;
margin: 15px 10px;
}





/*circle img*/


.circular {
	
	position: absolute;
top: 60%;
left: 44%;
	width: 250px;
	height: 250px;
	
	z-index: 10;
background-color:#1687A7;
  border-radius: 50%;

}
.cir-img{
	position:relative;
	
}
.circularimg{
	position:absolute;
	left: 15px;
top: 10px;
	
}

.circularimg img{
	
	width: 230px;
}


/*circular1 img */


.circular1 {
	
	position: absolute;
top: 25%;
left: 83%;
width: 200px;
height: 200px;
	
	z-index: 10;
background-color:#F89633;
  border-radius: 50%;

}
.cir-img1{
	position:relative;
	
}
.circularimg1{
	position:absolute;
	left: 9px;
top: 15px;
	
}

.circularimg1 img{
	
	width: 170px;
}



/*circular2 img */


.circular2 {
	
	position: absolute;
top: 35%;
left: 60%;
width: 370px;
height: 370px;
	
	z-index: 10;
background-color:#1687A7;
  border-radius: 50%;

}
.cir-img2{
	position:relative;
	
}
.circularimg2{
	position:absolute;
	left: 5px;
top: 20px;
	
}

.circularimg2 img{
	
	width: 340px;
}

/*circular3 img */


.circular3 {
	
	position: absolute;
top: 35%;
left: 15%;
width: 340px;
height: 340px;
	
	z-index: 10;
background-color:#F89633;
  border-radius: 50%;

}
.cir-img3{
	position:relative;
	
}
.circularimg3{
	position:absolute;
	left: 12px;
top: 24px;
	
}

.circularimg3 img{
	
	width: 340px;
}


